*{
    margin: 0;
}

.main_div{
    background-color: rgb(6, 11, 45);
    /* position: relative; */
    height: 100vh;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
img{
    height: 50px;
    width: 50px;
}
.child_div{
    text-align: center;
    width: 28%;
    height: 60vh;
    border-radius: 15px;
}
figcaption{
    color: aliceblue;
    font-weight:400;
}
.center_div{
    text-align: center;
    background-color: #cfcf9b;
    width: 28%;
    height: 60vh;
    border-radius: 15px;
}
.todo_header{
    background-color: #8566aa;
    
    color: white;
    margin-bottom: 25px;
    margin-top: 5px;
}

input{
    outline: none;
    border: none; 
    display: inline-block;
    padding-left: 8px;
    /* margin-right: 20px; */
    position: relative;
    text-align: left;
    align-items: center;
    border-bottom: 2px solid #8566aa;
}
input::-webkit-input-placeholder{
    font-size: 13px;
    position: absolute;
    top: 4px;
    left: 14px;
}

.inputItem{
    position: relative;
}
.new{
    position: absolute;
    color: black;
    right: 135px;
    font-size: 12px;
    top: 6px;
}
.new:hover{
    color: rgb(61, 127, 185);
}

input:focus{
    outline: none;
}
.eachItem{
    margin-top: 10px;
    display: inline-block;
    position: relative;
    color: #fff;
    width: 44%;
    height: 28px;
    font-size: 18px;
    background-color: rgb(85, 41, 220);
    margin-bottom: 5px;
}
.eachItem:hover{
    background-color: #fff;
    color: rgb(61, 127, 185);
}
.eachItem p{
    text-align: left;
    position: relative;
    margin-left: 16px;
    font-size: 15px;
    line-height: 25px;
}
.removeItem{
    position: absolute;
    font-size: 13px;
    color: rgb(242, 236, 236);
    line-height: 25px;
    right: 12px;
    top: 0;
}
.removeItem:hover{
    color: rgb(185, 61, 61);
}
.removeItem:focus{
    color: red;
}

/* edit item */
.editItem{
    position: absolute;
    font-size: 13px;
    color: rgb(242, 236, 236);
    right: 40px;
    top: 0;
    line-height: 25px;
   }
   .editItem:hover{
       color: rgb(52, 186, 83);
   }
   .editItem:focus{
       color: red;
   }


.removeDiv{
    margin-top: 15px;
    font-size: 12px;
    font-weight:500;
    border: none;
    outline: none;
    padding: 8px;
}
.removeDiv:hover{
    background-color:rgb(61, 127, 185);
    color: #fff;
    border: none;
    outline: none;

}

/* button{
    border-radius: 50%;
    background: transparent;
    background-color: #8566aa;
    border: none;
    width: 38px;
    outline: none;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
} */
/* button:hover{
   background-color: green;
   color: #fff;
} */
ol li{
    text-align: left;
    display: flex;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
    color: #8566aa;
    text-transform: capitalize;
}
.lists{
  display: flex;
  padding-left: 50px;
    margin-top: 12px;
  align-items: center;
}
.lists .fa-times{
    background-color: #8566aa;
    color: red !important;
    display: flex;
    justify-content: center;
    font-size: 40px;
    /* width: 20px; */
    border-radius: 50%;
    height: 20px;
 }
 @media (max-width:1235px){

.lists{
    padding-left: 20px;
}
 }
 @media (max-width:1065px){

    .lists{
        padding-left: 0px;
    }
     }
 
 @media (max-width:820px){
     .center_div{
         width: 50%;
     }
     button{
         width: 25px;
         min-height: 20px;
         margin-left: 0px;
     }
     .lists{
         margin-top: 10px;
    padding-left: 50px;
     }
 }
 
 @media (max-width:670px){
    .lists{
   padding-left: 0px;
    }
}
 @media (max-width:420px){
    .lists{
        padding-left: 0px;
         }
    .center_div{
        width: 75%;
    }
    button{
        width: 20px;
        min-height: 12px;
        margin-left: -10px;
    }
    ol li{
        font-size: 20px;
    }
    
 }